.TotalOrdersCard{
    width:315px ;
    height: 544px;
    background-color: #13322B;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TotalOrdersCard-top{
    display: flex;
    justify-content: center;
}

.TotalOrdersCard-circle{
    border: 16px solid #021b11;
    border-radius: 100%;
    color: white;
    width: 199px;
    height: 199px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TotalOrdersCard-Circle-inear-h{
    margin-bottom: 0px;
    font-size: 36px;
}

.TotalOrdersCard-Circle-inear-p{
    margin-top: 0px;
    font-size: 20px;
    color: #D8D8D9;
    Font-family: Nunito Sans;
    Font-style: SemiBold;
}



.TotalOrdersCard-mid{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
}

.TotalOrdersCard-bottom{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 18px;
    Font-family: Nunito Sans;
    Font-style: SemiBold;
}

@media only screen and (max-width:900px) {

    .TotalOrdersCard{
        width: 500px;
    }

    
}

@media only screen and (max-width:600px) {

    .TotalOrdersCard{
        width: 350px;
    }
    
}