.Notification-container{
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 9999;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: white; */
  /* opacity: 1; */
  /* transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  width: 100%;
}

.Notification-value{
  height: 100%;
  display: flex;
  /* outline: 0; */
  overflow-y: auto;
  box-shadow: 0px 8px 10px -5px rgb(0 0 0 / 20%), 0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%);
  background-color: #fff;
  width: 505px;
  border-radius: 20px 0 0 20px;
}

.Notification{
    /* width: 500px; */
    /* height: 960px; */
    /* border: 1px solid #EAECF3; */
    /* border-radius: 22px; */
    padding: 20px;
    /* position: absolute; */
    /* background: fixed; */
    /* position: relative; */
    /* top: 0; */
    /* right: 0; */
    /* background-color: white; */
}

.Notification-h1{
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 30px;
}

.NotificationArrow{
    cursor: pointer;
}


.Notification-inear{
    border: 1px solid #EAECF3;
    background-color: white;
    border-radius: 13px;
    padding: 10px;
    margin-top: 5px;
}

.Notification-h3{
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 17px;
}

.Notification-p1{
    Font-family: Nunito Sans;
    Font-style: Regular;
    Font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.CustomerArrow{
    cursor: pointer;
    height: 20px;
}


.Notification-p2{
    Font-family: Nunito Sans;
    Font-style: Regular;
    Font-size: 13px;
}


@media (max-width:900px) {

    .Notification{
        width: 350px;
    }
    
    .Notification-value{
        width: 350px;
    }
}

