.MyOrders{
    width: 78%;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    
}

header{
    display: flex;
    justify-content: space-between;
    
}

.heading{
    display: flex;
    justify-content: space-between;
}

.h-left{
    display: flex;
    gap: 20px;
}

.h-left-1{
    margin: 5px;
}

.h-left-2{
 margin: 5px;
}

.h-right{
    display: flex;
    /* align-items: flex-end; */
    gap: 20px;
}

.h-right-input{
    height: 34px;
}

.item-box-map{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

.item-box{
    border: 1px solid  #EAECF3;
    width: 325px;
    border-radius: 20px;
}

.item-box-top{
    border: 1px solid #EAECF3;
    display: flex;
    padding: 12px;
    border-radius: 20px;
}

.item-img-right{
    margin-left: 5px;
}

.item-img-right-top{
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 15px;
}
.item-img-right-mid{
    Font-family: Nunito Sans;
    Font-style: SemiBold;
    Font-size: 14px;
}
.item-img-right-btn{
    Font-family: Nunito Sans;
    Font-style: SemiBold;
    Font-size: 13px;
}


.item-box-bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.item-box-bottom-top{
    Font-family: Nunito Sans;
    Font-style: Regular;
    Font-size: 17px;
    margin-bottom: 0px;
}

.item-box-bottom-bottom{
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 20px;
    margin-top: 0px;
}

.item-box-bottom-btn1{
    border:1px solid #EAECF3;
    background-color: white;
}

.item-box-bottom-btn2{
    background-color: black;
    color: white;
}

button{
    border-radius: 27.5px;
    padding: 7px;
    width: 150px;
    border: #EAECF3;
    ;
}


.d-flex{
    display: flex;
}

.Filter-btn{
    border: 2px solid #EAECF3;
    background-color: white;
    border-radius: 5px;
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 17px;
    width: 90px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.Filter-btn:hover{
    background-color: rgb(124, 127, 134);
}

@media only screen and (max-width:900px) {

    .MyOrders{
        width: auto;
    }
}

@media (max-width:600px) {
    .MyOrders{
        width: auto;
    }


    .h-left{
        display: flex;
        flex-direction: column;
    }

    .h-right{
        display: flex;
        flex-direction: column;
        gap: 1px;
    }


    .item-box-map{
        justify-content: center;
    }
    
}