.Category{
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 17px;
    padding: 5px;
    background-color: 
    #EAECF3;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.Category:hover{
        background-color: rgb(124, 127, 134);
    }

.Filter{
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 17px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.Sort{
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 17px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}