.CurrentlyActiveOrder{
    width: 670px;
    height: 516px;
    border: 1px solid #EAECF3;
    border-radius: 26px;
    padding: 5px;
    padding: 0px 25px;
}

.CurrentlyActiveOrder-heading{
    display: flex;
    justify-content: space-between;
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 22px;
}

.CurrentlyActiveOrder-button{
    display: flex;
    gap: 30px;
    color: #D8D8D9;
}

.CurrentlyActiveOrder-button-1:hover{
    background-color:#304F42 ;
    border-radius: 18.5px;
    width: 130px;
    text-align: center;
}

.CurrentlyActiveOrder-button-2:hover{
    background-color:#304F42 ;
    border-radius: 18.5px;
    width: 130px;
    text-align: center;
}

.CurrentlyActiveOrder-button-3:hover{
    background-color:#304F42 ;
    border-radius: 18.5px;
    width: 130px;
    text-align: center;
}

.CurrentlyActiveOrder-button-4:hover{
    background-color:#304F42 ;
    border-radius: 18.5px;
    width: 130px;
    text-align: center;
}

.CurrentlyActiveOrder-button-1{
    background-color: #304F42;
    color: white;
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 16px;
    border-radius: 18.5px;
    width: 100px;
    text-align: center;
    padding: 5px 0px;
    cursor: pointer;
}

.CurrentlyActiveOrder-button-2{
    Font-family: Nunito Sans;
    Font-style: SemiBold;
    Font-size: 16px;
    padding: 5px 0px;
    cursor: pointer;
}

.CurrentlyActiveOrder-button-3{
    Font-family: Nunito Sans;
    Font-style: SemiBold;
    Font-size: 16px;
    padding: 5px 0px;
    cursor: pointer;
}

.CurrentlyActiveOrder-button-4{
    Font-family: Nunito Sans;
    Font-style: SemiBold;
    Font-size: 16px;
    padding: 5px 0px;
    cursor: pointer;
}


.CurrentlyActiveOrder-box-map{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.CurrentlyActiveOrder-box{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    width: 654px;
    height: 83px;
    border-radius: 20px;
    background-color: #F7F8FB;
}

.CurrentlyActiveOrder-box:hover{
    width: 690px;
    height: 90px;
    border-radius: 25px;
    background-color: #ced1da;
}

.CurrentlyActiveOrder-box-inear-text{
    display: flex;
    
}

.CurrentlyActiveOrder-box-inear-arrow{
    height: 20px;
    padding:28px 15px;
    cursor: pointer;
    
}

.CurrentlyActiveOrder-box-inear-c1-r1{
    margin-bottom: 0px;
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 18px;
}

.CurrentlyActiveOrder-box-inear-c1-r2{
    margin-top: 0px;
    Font-family: Nunito Sans;
    Font-style: Regular;
    Font-size: 15px;
}

.CurrentlyActiveOrder-box-inear-c2-r1{
    margin-bottom: 0px;
    Font-family: Nunito Sans;
    Font-style: Mixed;
    Font-size: 18px;
}

.CurrentlyActiveOrder-box-inear-c2-r2{
    margin-top: 0px;
    Font-family: Nunito Sans;
    Font-style: Regular;
    Font-size: 15px;
}

@media (max-width:900px) {
    
    .CurrentlyActiveOrder{
        width: 600px;
    }

    .CurrentlyActiveOrder-box{
        width: 580px;
    }


}

@media screen and (max-width:600px) {
    
    .CurrentlyActiveOrder{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 460px;
        border: 1px solid #EAECF3;
        border-radius: 26px;
    }

    .CurrentlyActiveOrder-button{
        display: flex;
        align-items: center;
        gap: 20px;
        color: #D8D8D9;
    }
    

    .CurrentlyActiveOrder-button-1{
        background-color: #304F42;
        color: white;
        Font-family: Nunito Sans;
        Font-style: Bold;
        Font-size: 10px;
        border-radius: 18.5px;
        width: 70px;
        cursor: pointer;
    }

    .CurrentlyActiveOrder-button-2{
        font-size: 12px;
    }

    .CurrentlyActiveOrder-button-3{
        font-size: 12px;
    }

    .CurrentlyActiveOrder-button-4{
        font-size: 12px;
    }

    .CurrentlyActiveOrder-box{
        width: 320px;
        height: 80px;
    }

    .CurrentlyActiveOrder-heading{
        display: flex;
        justify-content: space-between;
        Font-family: Nunito Sans;
        Font-style: Bold;
        Font-size: 10px;
    }
    


}