.MyStore{
    width: 80%;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 15px;
}

.Mystore-location{
    display: flex;
    justify-content: space-between;
}


.Mystore-location-shop{
 color: black;
}

.Mystore-location-shop-heading{
    Font-family: Nunito Sans;
    Font-style: ExtraBold;
    Font-size: 30px;
}

.Mystore-location-shop-details{
    display: flex;
    Font-family: Nunito Sans;
    Font-style: SemiBold;
    Font-size: 20px;
}

.Mystore-locatin-shop-rating{
    display: flex;
}

.Mystore-locatin-shop-ratin-img{
    padding-top: 24px;
    padding-right: 5px;
}

.Mystore-location-shop-address{
    display: flex;
}

.Mystore-locatin-shop-address-img{
    padding-top: 24px;
    padding-left: 10px;
    padding-right: 5px;
}

.information-btn{
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 18px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.customer-btn{
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 18px;
    border: 1px solid #ECEDFB;
    background-color: white;
    cursor: pointer;
}

.Mystore-location-information{
    display: flex;
    justify-content: space-between;
}

.MyStore-selects{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px;

}

.MyStore-selects-left{
    display: flex;
    gap: 50px;
}

.pointer{
    padding-top: 10px;
}

.MyStore-selects-right{
    display: flex;
    gap: 30px;
}

input{
    background-color: 
    #EAECF3;
    Font-family: Nunito Sans;
    Font-style: Regular;
    Font-size: 17px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

.Filter-btn{
    border: 2px solid #EAECF3;
    background-color: white;
    border-radius: 5px;
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 17px;
    width: 93px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.Sort-btn{
    border: 2px solid #EAECF3;
    background-color: white;
    border-radius: 5px;
    width: 87px;
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 17px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

@media (max-width:900px) {

    .MyStore{
        width: auto;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .Mystore-header{
        justify-content: space-between;
    }

    .Mystore-location{
        flex-direction: column;
        gap: 5px;
    }

    .MyStore-selects{
        flex-direction: column;
        gap: 5px;
    }


    .Mystore-location-information{
        flex-direction: column;
        gap: 5px;
    }

    .Mystore-location-shop{
        width: 200px;
    }

    .MyStore-selects-right{
        flex-direction: column;
        gap: 1px
    }

    .Addbtn{
        width: 30px;
    }

    
}