.MyStore{
    width: 78%;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px ;
    border-left: 2px solid #EAECF3;
}

.Mystore-location{
    display: flex;
    justify-content: space-between;
}


.Mystore-location-shop{
 color: black;
}

.Mystore-location-shop-heading{
    Font-family: Nunito Sans;
    Font-style: ExtraBold;
    Font-size: 30px;
    height: 10px;
}

.Mystore-location-shop-details{
    display: flex;
    Font-family: Nunito Sans;
    Font-style: SemiBold;
    Font-size: 20px;
    /* height: 10px; */
    /* margin-top: 0px; */
}

.Mystore-location-pic{
    margin-top: 10px;
    text-align: center;
}

.Mystore-locatin-shop-rating{
    display: flex;
}

.Mystore-locatin-shop-ratin-img{
    padding-top: 22px;
    padding-right: 5px;
}

.Mystore-location-shop-address{
    display: flex;
}

.Mystore-locatin-shop-address-img{
    padding-top: 22px;
    padding-left: 10px;
    padding-right: 5px;
}

.information-btn{
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 18px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 180px;
}

.information-btn:hover{
    background-color: rgb(124, 127, 134);
}

.customer-btn{
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 18px;
    border: 1px solid #ECEDFB;
    background-color: white;
    cursor: pointer;
    width: 180px;
}

.customer-btn:hover{
    background-color: rgb(124, 127, 134);
}

.Mystore-location-information{
    display: flex;
    justify-content: space-between;
}

.MyStore-selects{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px;

}

.MyStore-selects-left{
    display: flex;
    gap: 50px;
}

/* .pointer{
    padding-top: 1px;
} */

.MyStore-selects-right{
    display: flex;
    gap: 30px;
}

input{
    background-color: 
    #EAECF3;
    Font-family: Nunito Sans;
    Font-style: Regular;
    Font-size: 17px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

input:hover{
    background-color: #e1e1e7;
}

.Filter-btn{
    border: 2px solid #EAECF3;
    background-color: white;
    border-radius: 5px;
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 17px;
    width: 93px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.Filter-btn:hover{
    background-color: rgb(124, 127, 134);
}

.Sort-btn{
    border: 2px solid #EAECF3;
    background-color: white;
    border-radius: 5px;
    width: 87px;
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 17px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.Sort-btn:hover{
    background-color: rgb(124, 127, 134);
}
  
  
@media (max-width:900px) {

    .MyStore{
        width: auto;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .Mystore-header{
        justify-content: space-between;
    }

    .Mystore-location{
        flex-direction: column;
        gap: 5px;
    }

    .MyStore-selects{
        flex-direction: column;
        gap: 5px;
    }


    .Mystore-location-information{
        flex-direction: column;
        gap: 5px;
    }

    .Mystore-location-shop{
        width: 200px;
    }

    .MyStore-selects-right{
        flex-direction: column;
        gap: 5px
    }

    .Addbtn{
        width: 30px;
    }

    
}


@media (max-width:600px) {
    
    .information-btn{
        width: 250px;
    }

    .customer-btn{
        width: 250px;
    }

    .MyStore-selects-righ{
        flex-direction: row;
        gap: 5px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .Filter-btn{
        width: 250px;
    }

    .Sort-btn{
        width: 250px;
    }
}