.MyStore{
    width: 80%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.Mystore-header{
    display: flex;
    justify-content: space-between;
    
}

.Mystore-location{
    display: flex;
    justify-content: space-between;
}

.Mystore-location-profile{
    margin-left: 20px;
}

.Mystore-location-shop{
 color: black;
}

.Mystore-location-shop-heading{
    Font-family: Nunito Sans;
    Font-style: ExtraBold;
    Font-size: 30px;
}

.Mystore-location-shop-details{
    display: flex;
    Font-family: Nunito Sans;
    Font-style: SemiBold;
    Font-size: 20px;
}

.Mystore-locatin-shop-rating{
    display: flex;
}

.Mystore-location-shop-address{
    display: flex;
}

.information-btn{
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 18px;
    background-color: black;
    color: white;
}

.customer-btn{
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 18px;
    border: 1px solid #ECEDFB;
    background-color: white;
}

.Mystore-location-information{
    display: flex;
    justify-content: space-between;
}

.MyStore-selects{
    display: flex;
    justify-content: space-around;
    padding: 10px;

}

input{
    background-color: 
    #EAECF3;
    text-align: center;
    border-radius: 10px;
    border: none;
}

@media (max-width:900px) {

    .MyStore{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .Mystore-header{
        justify-content: space-between;
    }

    .Mystore-location{
        flex-direction: column;
    }

    .MyStore-selects{
        flex-direction: column;
    }

    input{
        width: 150px;
    }

    .Mystore-location-information{
        flex-direction: column;
        gap: 5px;
    }

    .Mystore-location-shop{
        width: 200px;
    }

    
}