.Home{
    width: 80%;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
}

.Home-heading{
    display: flex;
    justify-content: space-between;
    Font-family: Arial;
    Font-style: Bold;
    font-size: 25px;
}

.Home-header{
    display: flex;
    justify-content: space-between;
}

.Home-circle{
    border: 18px solid red;
    width: 220px;
    height: 220px;
    border-radius: 100%;
    margin-top: 10px;

}

.circle-inear{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.circle-inear-h{
    font-size: 48px;
    margin-bottom: 0px;
}

.circle-inear-p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
}

.circle-inear-p-s{
    margin-top: 0px;
    font-size: 16px;
    color: #59595B;
}

.HomeTopBox{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
}

.Home-mid{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}