.FoodCard-map{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    /* padding: 10px; */
}

.FoodCard{
    width: 300px;
    /* position: relative;
    z-index: 1; */
}
/* 
.food-img-inear{
    position: absolute;
    background: white;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    height: 20px;
    top: 100px;
    left: 15px;
} */


.foodcard-checkbox{
    border-radius: 100%;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    position: absolute;
    
    
}

.food-img{
    border-radius: 10px;
}

.FoodCard-rs{
    display: flex;
    justify-content: space-between;
    
}

.FoodCard-h{
    Font-family: Nunito Sans;
    Font-style: ExtraBold;
    Font-size: 22px;
    margin-top: 0px;
}

.FoodCard-p{
    Font-family: Nunito Sans;
    Font-style: SemiBold;
    Font-size: 20px;
}

.foodcard-point{
    cursor: pointer;
}

@media (max-width:900px) {
    .FoodCard-map{
        flex-direction: column;
        gap: 20px;
        
    }

    .FoodCard{
        width: 200px;
        
    }

    .food-img{
        width: 200px;
    }
    
}
