.FoodCard-map{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.FoodCard{
    width: 300px;
    
}

.food-img{
    border-radius: 10px;
}

.FoodCard-rs{
    display: flex;
    justify-content: space-between;
    
}

.FoodCard-h{
    Font-family: Nunito Sans;
    Font-style: ExtraBold;
    Font-size: 22px;
    margin-top: 0px;
}

.FoodCard-p{
    Font-family: Nunito Sans;
    Font-style: SemiBold;
    Font-size: 20px;
}

.foodcard-point{
padding-top: 7px;
}

@media (max-width:900px) {
    .FoodCard-map{
        flex-direction: column;
        gap: 20px;
        
    }

    .FoodCard{
        width: 200px;
        
    }

    .food-img{
        width: 200px;
    }
    
}
