.SelectBoxDay{
    background-color: white;
    border: white;
    color: #59595B;

}

.SelectBoxDay-s{
    border: white;
    padding: 10px;
    cursor: pointer;
}

.SelectBoxDay-s:hover{
    background-color: rgb(153, 160, 160);
    border-radius: 10px;
}

@media only screen and (max-width:900px) {

    .SelectBoxDay-s{
        padding: 1px;
    }
}