.Sidebar{
    width: 18%;
    border-right: 2px solid #EAECF3;
}

.Sidebar-mobile{
    display: none;
}

.sidebar-img{
    margin-top: 0px;
    margin-left: 0px;
}


ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

li:hover{
    background-color: rgb(160, 160, 124);
    padding: 12px;
    border-radius: 10px;
}

Link{
    list-style: none;
    text-decoration: none;
    
}


li {
    list-style: none;
    text-decoration: none;
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 22px;
    text-indent: 10px;
    padding: 7px;
}

.Admin-box{
    display: flex;
    justify-content: center;
    margin-top: 500px;
}

@media (max-width:900px) {
    
    .Sidebar{
        display: none;
    }

    /* .Sidebar-mobile{
         display: flex;
         flex-direction: column;
         position: absolute;
         background-color: white;
         width: 200px;
         height: 300px;
         top: 60px;
         left: 0px;
    } */
}

@media (max-width:600px) {
    
    .Sidebar{
        display: none;
    }
}

