.Sidebar{
    width: 18%;
    border-right: 2px solid #EAECF3;
    height: 140vh;
}

.sidebar-img{
    margin-top: 0px;
    margin-left: 0px;
}

li {
    list-style: none;
    text-decoration: none;
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 22px;
}

@media (max-width:900px) {
    
    .Sidebar{
        display: none;
    }
}

@media (max-width:600px) {
    
    .Sidebar{
        display: none;
    }
}

