.Sidebar{
    width: 18%;
    border-right: 2px solid #EAECF3;
    height: 140vh;
}

.sidebar-img{
    margin-top: 0px;
    margin-left: 0px;
}

ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

li:hover{
    background-color: rgb(160, 160, 124);
    padding: 12px;
    border-radius: 10px;
}

NavLink{
    list-style: none;
    text-decoration: none;
}


li {
    list-style: none;
    text-decoration: none;
    Font-family: Nunito Sans;
    Font-style: Bold;
    Font-size: 22px;
    padding: 7px;
}

.Admin-box{
    display: flex;
    justify-content: center;
    margin-top: 460px;
}

@media (max-width:900px) {
    
    .Sidebar{
        display: none;
    }
}

@media (max-width:600px) {
    
    .Sidebar{
        display: none;
    }
}

