.Promotion{
    width: 78%;
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: 2px solid #EAECF3;
    /* height: 100vh; */
    padding: 10px;
}

.advertisclass{
     border-bottom: 4px solid orange;
     
}

