.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notification:hover{
    cursor: pointer;
    background-color: rgb(201, 195, 195);
    border-radius: 100%;
    padding: 1px;
}

.notification{
    padding-top: 10px;
}



@media (max-width:900px) {

    .Header{
        width: 100%;
    }

    .hamburger-menu{
        background-color: white;
        display: flex;
        margin-top: 15px;

        
    }

    .Header-heading-h2{
        position:absolute;
        left: 39px;
        top: 0px;
    }

    .Header-heading{
        display: flex;
    }
}

@media (max-width:500px) {

     .hamburger-menu{
        /* background-color: white; */
        position: absolute;
        top: 9px;
        
    }
}

