.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notification:hover{
    cursor: pointer;
}

@media (max-width:900px) {

    .Header{
        width: 100%;
    }
    
}